{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="Ultra-Ability Ministry - Support">
    <meta property="og:description" content="Experience ultra-ability today by embracing Yahweh (Jehovah) God through Lord Jesus Christ in the Holy Spirit">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'ultra_ability/images/dove-icon.png' %}">

    <title>Ultra-Ability Ministry - Support</title>
    <link rel="icon" href="{% static 'ultra_ability/images/dove-icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'ultra_ability/CSS/styles.css' %}">
    <!-- Font-Awesome [ social media ] icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Google Font 1 ( EB Garamond )-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    <!-- Google Font 2 ( Merienda ) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap" rel="stylesheet">


    <style>
        .content{margin: 0 1rem;}

        /* Layout for mobile view/screen width ( 0px - 768px ) */
        @media (max-width: 768px) {
        }
      </style>
</head>

<body id="body">

    <!-- Navbar Section -->
    <nav>
        <!-- DESKTOP VIEW NAVBAR - with dropdown MENU's -->

        <!-- container div: flex-row layout -->
        <div class="nav-container">
            <!-- Home: link to landing page -->
            <div class="dropdown">

                <a href="{% url 'ultra_ability:indexURL' %}">Home</a>
            </div>
            <!-- Enlightenment -->
            <div class="dropdown">
                <a href="#">Enlightenment</a>
                <div class="dropdown-links">
                    <a href="{% url 'ultra_ability:FOTSListURL' %}">Fruit of the Spirit</a>
                    <a href="{% url 'ultra_ability:FAQListURL' %}">Bible FAQs</a>
                    <a href="{% url 'ultra_ability:newsletterListURL' %}">Newsletter</a>
                    <a href="{% url 'ultra_ability:booksURL' %}" target="_blank">Christian Books</a>
                </div>
            </div>
            <!-- About Ultra-Ability -->
            <div class="dropdown">
                <a href="#">Ultra-Ability</a>
                <div class="dropdown-links">
                    <a href="{% url 'ultra_ability:SOFURL' %}">Statement of Faith</a>
                    <a href="{% url 'ultra_ability:missionURL' %}">Mission</a>
                </div>
            </div>
            <!-- Support Ultra-Abilty -->
            <div class="dropdown">
                <a href="#">Support Ultra-Ability</a>
                <div class="dropdown-links">
                    <a href="{% url 'ultra_ability:supportURL' %}">Support the Ministry</a>
                    <a href="{% url 'ultra_ability:fundraiserURL' %}" target="_blank">UIL Fundraiser</a>
                </div>
            </div>
            <!-- Dr Shirley -->
            <div class="dropdown">
                <a href="#">Dr. Shirley Cheng</a>
                <div class="dropdown-links">
                    <a href="{% url 'ultra_ability:MTFURL' %}">Meet the Founder</a>
                    <a href="{% url 'ultra_ability:contactURL' %}">Contact Dr. Shirley</a>
                </div>
            </div>
        </div>

        <!-- MOBILE VIEW NAVBAR - with HAMBURGER MENU -->

        <!-- container div: flex-column layout -->
        <div class="nav-container-mobile">
            <!-- Hamburger Menu button -->
            <button class="hamburger" id="hamburger" aria-label="Open hamburger menu" aria-expanded="false">
                <div></div>
                <div></div>
                <div></div>
            </button>
            <!-- Site Map -->
            <div class="site-map">
                <a href="{% url 'ultra_ability:indexURL' %}">Ultra-Ability Ministry</a>
                <a href="#body">Home</a>
            </div>

            <!-- Links -->
            <div class="menu" id="menu">
                <a href="{% url 'ultra_ability:indexURL' %}">Home</a>
                <a href="{% url 'ultra_ability:FOTSListURL' %}">Fruit of the Spirit</a>
                <a href="{% url 'ultra_ability:FAQListURL' %}">Bible FAQs</a>
                <a href="{% url 'ultra_ability:newsletterListURL' %}">Newsletter</a>
                <a href="{% url 'ultra_ability:SOFURL' %}">Statement of Faith</a>
                <a href="{% url 'ultra_ability:missionURL' %}">Mission</a>
                <a href="{% url 'ultra_ability:supportURL' %}">Support the Ministry</a>
                <a href="{% url 'ultra_ability:fundraiserURL' %}" target="_blank">UIL Fundraiser</a>
                <a href="{% url 'ultra_ability:booksURL' %}" target="_blank">Christian Books</a>
                <a href="{% url 'ultra_ability:MTFURL' %}">Meet the Founder</a>
                <a href="{% url 'ultra_ability:contactURL' %}">Contact Dr. Shirley</a>
            </div>
        </div>
    </nav>


    <!-- Hero Section -->
    <section>
        <!-- container div -->
        <div id="hero" class="hero">
            <h3 style="text-align: center;">Support Ultra-Ability Ministry.</h3>
            <!-- Display Messages from the back-end -->
            {% if messages %}
                <div style="color: red; ">
                    {% for message in messages %}
                        <h4>{{message}}</h4>
                    {% endfor %}
                </div>
            {% endif %}
            <br>
            <p style="text-align: center;">If you would like to support Ultra-Ability Ministry, you may do so in two ways: spiritually through your prayers, and financially through your donations or the purchase of any of Shirley Cheng's <a href="http://www.shirleycheng.com" target="_blank">Books</a>.</p>
        </div>
    </section>

    <!-- Main Content Section -->
    <main class="content" style="max-width: 45rem; margin: auto;">
        <!-- Container div -->
        <div class="container">
            <h3 style="text-align: center; text-decoration: underline;">PRAYERS</h3>
            <p>"I exhort therefore, first of all, that petitions, prayers, intercessions, and givings of thanks, be made for all men: for kings and all who are in high places; that we may lead a tranquil and quiet life in all godliness and reverence. For this is good and acceptable in the sight of God our Savior; who desires all people to be saved and come to full knowledge of the truth." (1 Timothy 2:1-4, WEB)</p>
            <p>Please pray for Yahweh God Almighty to help:</p>
            <ul>
                <li> Ultra-Ability Ministry to teach and preach the Word of God with truthfulness, accuracy, love, boldness, and patience</li>
                <li>The seeds of His Word to germinate in the hearts of people and bring forth many fruits for His praise and glory</li>
                <li>All people to come to a saving faith and knowledge of Him and His Son, Jesus Christ</li>
                <li>All people to reverence Him, walk in His ways, serve Him, and keep His commandments as expressions of their true love for Him</li>
            </ul>
            <p>Please pray in the name of Jesus Christ, for, as Jesus said, "Most certainly I tell you, whatever you may ask of the Father in my name, he will give it to you." (John 16:23, WEB)</p>
            <br>
            <h3 style="text-align: center; text-decoration: underline;">DONATIONS</h3>
            <p>"Remember this: he who sows sparingly will also reap sparingly. He who sows bountifully will also reap bountifully. Let each man give according as he has determined in his heart; not grudgingly, or under compulsion; for God loves a cheerful giver. And God is able to make all grace abound to you, that you, always having all sufficiency in everything, may abound to every good work." (2 Corinthians 9:6-8, WEB)</p>
            <p style="text-align: center;">Please donate to support Ultra-Ability Ministry in whatever amount your heart desires to give.</p>
            <br>
            <form style="display: grid; place-items: center; " action="https://www.paypal.com/cgi-bin/webscr target=_blank" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="2YV43QU7UDT6G">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to
                pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
            <br>
            <br>
            <p style="text-align: center;">Thank you for your prayers and financial support!</p>
        </div>
    </main>

    <!-- Footer Section -->
    <footer>
        <!-- container div -->
         <div class="footer-container">
            <!-- Footer Top Row -->
            <div class="footer-top">
                <div class="external-links">
                    <b>External Links: </b>
                    <a href="https://www.amazon.com/author/shirleycheng" target="_blank"><i class="fab fa-amazon"></i><b> Amazon</b></a>
                    <p></p>
                    <a href="https://facebook.com/drshirleycheng" target="_blank"><i class="fab fa-facebook"></i><b> Facebook</b></a>
                    <p></p>
                    <a href="https://www.gofundme.com/f/uniteinlove37" target="_blank"><i class="fas fa-gift"></i><b> GoFundMe</b></a>
                </div>

                <!--Subscription form-->
                <div class="subscription-form">
                    <form action="{% url 'ultra_ability:subscribe_newsletter' %}" method="post">
                        <b>Subscribe to Ultra-Ability Monthly Newsletter:</b>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>

                        <div class="form-group">
                            {{ form.confirm_email.label_tag }}
                            {{ form.confirm_email }}
                        </div>
                        <div style="text-align: center;"><button style=" border:1px solid gold;border-radius:5px;padding:5px;" type="submit">Subscribe</button></div>

                        <!-- Display Messages from the back-end -->
                        {% if messages %}
                            <div style="color: red; ">
                                {% for message in messages %}
                                    <h4>{{message}}</h4>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </form>
                </div>

                <!--Latest Newsletters-->
                <div class="latestNewsLetters">
                    <b>Latest Ultra-Ability Newsletters:</b>
                    {% for i in last2Newsletters %}
                    <ul>
                        <li style="font-size: medium;"><a href="{{ i.getAbsoluteUrl }}"> {{ i.title}}</a></li>
                    </ul>
                    {% endfor %}
                </div>
            </div>

            <!-- Footer Bottom Row -->
            <div class="footer-bottom">
                <div class="copyright">
                    <p><b>&copy; <span id="currentYear"></span> Ultra-Ability Ministry. All rights reserved.</b></p>
                    <!-- JavaScript to Update the Year -->
                    <script>
                        // Get the current year
                        const currentYear = new Date().getFullYear();
                        // Update the content of the span element with the current year
                        document.getElementById('currentYear').textContent = currentYear;
                    </script>
                </div>
                <div class="developer">
                    <p> Web Application Developed and maintained by <a href="https://www.linkedin.com/in/gideon-unique-a3b03b19a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><b>$GM</b></a></p>
                </div>
                <!-- Back to Top Button -->
                <div class="backToTop">
                    <button onclick="scrollToTop()" style="padding: 20px 10px 15px 10px"><b>TOP <i class="fa-solid fa-circle-arrow-up"></i></b></button>
                    <script>
                        function scrollToTop() {
                            document.body.scrollTop = 0;
                            document.documentElement.scrollTop = 0;
                        }
                    </script>
                </div>
            </div>

         </div>

    </footer>


    <script src="{% static 'ultra_ability/JS/script.js' %}"></script>
</body>
</html>